openapi: 3.0.4
info:
  title: PolicyGuard Unified API
  description: |
    Unified API for EC2, Auth, ECS, S3, and RDS monitoring and management.
    
    - Cross-account AWS monitoring
    - CloudWatch metrics and alarms
    - User and group management (Cognito)
    - Cassandra DB integration
    
    [Supportsages DevOps](https://supportsages.com)
  termsOfService: https://supportsages.com/terms/
  contact:
    name: Supportsages DevOps Team
    email: devops@supportsages.com
    url: https://supportsages.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Find out more about PolicyGuard
  url: https://supportsages.com/policyguard
servers:
  - url: https://awsmonitor.supportsages.com
    description: Production API Gateway

# Tags for grouping
# ---
tags:
  - name: ec2
    description: EC2 monitoring and metrics
  - name: auth
    description: User and group management (Cognito)
  - name: s3
    description: S3 monitoring and notifications
  - name: rds
    description: RDS monitoring and alarms
  - name: ecs
    description: ECS monitoring and alarms

paths:
  # --- EC2 ---
  /api/ec2/install:
    post:
      tags: 
        - ec2
      summary: Create EC2 or ECS Monitoring
      description: |
        Sets up monitoring for EC2 instances or ECS services by creating CloudWatch alarms and optionally installing agents.
      operationId: installMonitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                  account_id:
                    type: string
                    example: "123456789012"
                  region: 
                    type: string
                    example: "us-east-1"
                  instance_ids:
                    type: string
                    example: ["i-1234567890abcdef0", "i-0987654321fedcba0"]
                  config:
                    type: object
                    example: 
                      cpu_threshold: 80
                      memory_threshold: 85
                      disk_threshold: 85
                      evaluation_periods: 2
                      period: 300
                      alarm_actions: ["arn:aws:sns:us-east-1:123456789012:alerts-topic"]
      responses:
        '200':
          description: Monitoring enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: 
                    type: string
                    example: "EC2 monitoring enabled successfully"
                  instances: 
                    type: string
                    example: ["i-1234567890abcdef0", "i-0987654321fedcba0"]

  /api/ecs/install:
    post:
      tags:
        - ecs
      summary: Create ECS Monitoring
      description: |
        Sets up monitoring for ECS services by creating CloudWatch alarms.
      operationId: installEcsMonitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: string
                  example: "123456789012"
                region:
                  type: string
                  example: "us-east-1"
                cluster_name:
                  type: string
                  example: "my-ecs-cluster"
                service_names:
                  type: array
                  items:
                    type: string
                  example: ["my-ecs-service"]
                config:
                  type: object
                  example:
                    cpu_threshold: 80
                    memory_threshold: 85
                    evaluation_periods: 2
                    period: 300
                    alarm_actions: ["arn:aws:sns:us-east-1:123456789012:alerts-topic"]
      responses:
        '200':
          description: ECS monitoring enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "ECS monitoring enabled successfully"
                  services:
                    type: array
                    items:
                      type: string
                    example: ["my-ecs-service"]

  /api/s3/notification:
    post:
      tags:
        - s3
      summary: Create S3 Event Notification
      description: |
        Sets up S3 bucket event notifications (e.g., for object creation/deletion).
      operationId: createS3Notification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: string
                  example: "123456789012"
                region:
                  type: string
                  example: "us-east-1"
                bucket_name:
                  type: string
                  example: "my-bucket"
                events:
                  type: array
                  items:
                    type: string
                  example: ["s3:ObjectCreated:*", "s3:ObjectRemoved:*"]
                notification_config:
                  type: object
                  example:
                    lambda_function_arn: "arn:aws:lambda:us-east-1:123456789012:function:my-function"
                    sns_topic_arn: "arn:aws:sns:us-east-1:123456789012:my-topic"
      responses:
        '200':
          description: S3 notification created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "S3 notification created successfully"
                  bucket:
                    type: string
                    example: "my-bucket"

  /api/rds/install:
    post:
      tags:
        - rds
      summary: Create RDS Monitoring
      description: |
        Sets up monitoring for RDS instances by creating CloudWatch alarms.
      operationId: installRdsMonitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: string
                  example: "123456789012"
                region:
                  type: string
                  example: "us-east-1"
                db_instance_identifiers:
                  type: array
                  items:
                    type: string
                  example: ["db-ABCDEFGH1234567"]
                config:
                  type: object
                  example:
                    cpu_threshold: 80
                    memory_threshold: 85
                    disk_threshold: 85
                    evaluation_periods: 2
                    period: 300
                    alarm_actions: ["arn:aws:sns:us-east-1:123456789012:alerts-topic"]
      responses:
        '200':
          description: RDS monitoring enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "RDS monitoring enabled successfully"
                  db_instances:
                    type: array
                    items:
                      type: string
                    example: ["db-ABCDEFGH1234567"]

  /api/user/login:
    post:
      tags:
        - auth
      summary: User Login
      description: Authenticates a user and returns a JWT token.
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "user@example.com"
                password:
                  type: string
                  example: "password123"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: "eyJraWQiOiJLT..."
                  refresh_token:
                    type: string
                    example: "eyJjdHkiOiJKV1Q..."
                  expires_in:
                    type: integer
                    example: 3600
        '401':
          description: Invalid credentials

  /api/user/create:
    post:
      tags:
        - auth
      summary: Create User
      description: Creates a new user in Cognito.
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "user@example.com"
                password:
                  type: string
                  example: "password123"
                email:
                  type: string
                  example: "user@example.com"
                group:
                  type: string
                  example: "admin"
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User created successfully"
                  user_id:
                    type: string
                    example: "12345678-1234-1234-1234-123456789012"
        '400':
          description: Invalid input

  /api/user/group:
    post:
      tags:
        - auth
      summary: Create Group
      description: Creates a new user group in Cognito.
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                group_name:
                  type: string
                  example: "admin"
                description:
                  type: string
                  example: "Administrators group"
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Group created successfully"
                  group_name:
                    type: string
                    example: "admin"
        '400':
          description: Invalid input